<div id="news" class="flex-container"  >
    <div *ngFor="let n of userList"><h6>{{n.name}}</h6> <div class="size"><textarea disabled>{{n.news}}</textarea></div> <br><br> <img src="{{n.picture}}" height="120" width="120"><br><br></div>
    <div *ngFor="let n of userList1"><h6>{{n.name}}</h6> <div class="size"><textarea disabled>{{n.news}}</textarea></div> <br><br> <img src="{{n.picture}}" height="120" width="120"><br><br></div>
    <div *ngFor="let n of userList2"><h6>{{n.name}}</h6> <div class="size"><textarea disabled>{{n.news}}</textarea></div> <br><br> <img src="{{n.picture}}" height="120" width="120"><br><br></div>
</div>
