<div class = "op" style="background-color: rgba(147, 235, 255, 0.749);">
    <h2 class="head">Join Us</h2>

    <div class="container">
    <form id = "frm" #form1="ngForm" (ngSubmit) = "addUser(form1.value)">
        <input class="text" type="hidden" name="id" placeholder="Enter id.." value="0" ngModel>

        <label id="na" for="name">Nickname: </label>
        <input class="text" type="text" name="name"  value="" ngModel><br><br>
        
        <label id="n" for="news">Password: </label><br />
        <input class="text" type="text" name="news" value=""    ngModel><br><br>
        <input routerlink = "/rou" class="butt" type="submit" value="Додати" >
    </form>
    </div>
    <li *ngFor="let n of userList">
        <h4>{{n.name}}</h4>  {{n.news}} <br><hr><br> <br><br>
    </li>
</div>

